<%- include('partials/header'); -%>
<link rel="stylesheet" href="/style.css">
<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Hassle Free</h2>
    <h3>By students For students</h3>
    <a href="/profile" class="btn">View Profile</a>
  </div>
</header>


<%- include('partials/footer'); -%>