<%- include('partials/header'); -%>
<link rel="stylesheet" href="/style.css">

<form action="

<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>N.Pavan Kruthik</h4>
    <p>CB.EN.U4CSE18137</p>
  </li>
  
</ul>
</form>

<%- include('partials/footer'); -%>